$dark: #222
$light: #fff
$grey-1: #dddddd
$main: #111
$default: #999

.page-web
    height: 100vh
    overflow: hidden
    background: $main
header
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 60px
    line-height: 60px
    padding: 0 10px
    display: flex
    justify-content: space-between
    align-items: center
    .icon i
        color: $light
        font-size: 20px

.wrapper
    padding-top: 60px
nav
    padding: 0 40px
    ul
        border-radius: 100px
        background: $light
        display: flex
        justify-content: center
        align-items: center
        flex-wrap: nowrap
        overflow: hidden
        padding: 3px
    li
        width: calc(100% / 3)
        line-height: 40px
        text-align: center
        border-radius: 50px
        a
            color: $dark

        &.active
            background: $main
            a
                color: $light

        &:hover
            background: rgba($main, 0.1)

main
    height: calc(100vh - 60px)
    background: $light
    overflow-y: scroll
    border-radius: 20px 20px 0 0
    padding: 5px 10px
    > a
        width: 100%
        display: block
        text-align: center
        vertical-align: middle
        line-height: 30px
        margin: 5px 0
        font-size: 14px
        color: $default

        &::before
            content: ''
            position: relative
            display: inline-block
            border: 1px solid $default
            border-radius: 100px
            width: 12px
            height: 12px
        &:hover
            &::after
                content: ''
                position: absolute
                color: $dark
                font-size: 12px

    a.btn-primary
        display: block
        width: 100%
        background: $main
        border-radius: 15px
        button
            line-height: 50px
            background: transparent
            color: $light
            font-size: 18px
            border: none
            outline: none

        &.search
            &::before
                display: none

    .input-box
        position: relative
        margin: 10px 0
        display: flex
        justify-content: center
        align-items: center
        border-radius: 12px
        box-shadow: inset 0 0 0 1px $grey-1
        padding: 5px 10px
        > a.icon
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            i
                color: $main

        &.box-m
            gap: 2%
            justify-content: space-between

        // .input
        //     width: 48%
        &.input-flex
            .input
                width: 100%
                display: flex
                justify-content: space-between
                align-items: center

        span.s-title
            display: inline-block

        .s-title
            text-transform: capitalize
            color: $default
            font-size: 14px
            line-height: 20px
            display: block

        .txt
            font-size: 17px
            font-weight: 400
            line-height: 40px
            padding: 2px 0
            margin: 0

        .passenger-content
            width: 50%
            display: flex
            justify-content: space-around
            align-items: center
            line-height: 50px
            .person
                display: flex
                justify-content: center
                align-items: center
                .icon i
                    color: $default
                    font-size: 18px

                .number
                    font-weight: 700
                    font-size: 20px
                    margin-left: 5px

        .input
            width: 100%
            &.box-R
                text-align: right
                &.class
                    .txt
                        font-size: 20px
                        font-weight: 600

footer
    position: fixed
    bottom: 0
    left: 0
    background: $light
    width: 100%
    border-radius: 20px 20px 0 0
    box-shadow: 0 -1px 5px $grey-1
    ul
        margin: 0
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
        margin: 5px 0
        li
            padding: 5px 10px
            text-align: center
        a.icon
            border-radius: 10px
            width: 100%
            height: 100%
            padding: 15px
            i
                font-size: 22px
                color: $main

            &:hover
                a.icon
                    background: $main
                    i
                        color: $light
