a {
  text-decoration: none;
}

body.main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body.main .header_nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 20px;
  height: 60px;
  gap: 0 40px;
}

body.main .header_nav > a {
  position: relative;
  height: 60px;
  aspect-ratio: 1/1;
}

body.main .header_nav > a img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body.main .header_nav nav {
  padding: 10px 0;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.main .header_nav nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  border-radius: 50px;
  padding: 3px;
  height: 100%;
  width: 20%;
}

body.main .header_nav nav .menu:has(.contact) {
  width: 200px;
}

body.main .header_nav nav .menu a {
  padding: 5px 10px;
  width: 50%;
  height: 100%;
  text-align: center;
  border-radius: 50px;
  color: #666;
  text-transform: uppercase;
  line-height: 25px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

body.main .header_nav nav .menu a:hover, body.main .header_nav nav .menu a:focus {
  background: #fff;
}

body.main .header_nav nav .menu a.contact {
  position: relative;
  width: 100%;
}

body.main .header_nav nav .menu .contact-menu {
  position: absolute;
  top: 60px;
  width: auto;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 20px;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body.main .header_nav nav .menu .contact-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body.main .header_nav nav .menu .contact-menu li {
  width: 40px;
  height: 40px;
  background: #eee;
  line-height: 40px;
  border-radius: 100px;
  text-align: center;
}

body.main .header_nav nav .menu .contact-menu li a {
  width: 100%;
  height: 100%;
  padding: 0;
  border-radius: 100px;
  line-height: 50px;
  font-size: 23px;
}

body.main .header_nav nav .menu .contact-menu li a ion-icon {
  color: #666;
}

body.main main {
  margin-top: 60px;
  height: calc( 100vh - 60px);
}

body.main main > img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-position: -120px -120px;
     object-position: -120px -120px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: 0;
}

body.main main h2 {
  position: absolute;
  top: 40%;
  left: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 15rem;
  font-weight: bold;
  mix-blend-mode: difference;
  z-index: 1;
}

body.main main h2:last-of-type {
  top: calc( 40% + 15rem);
}

body.main-about main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

body.main-about main .main-left {
  width: calc( 100vw - 60%);
  height: 100%;
  position: relative;
}

body.main-about main .main-left img {
  position: absolute;
  top: -10%;
  left: -120%;
  width: 250%;
  height: 250%;
  -o-object-fit: contain;
     object-fit: contain;
}

body.main-about main .main-right {
  width: calc( 100vw - 40%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px 0;
}

body.main-about main .main-right .main-box {
  width: 100%;
  background: #99999931;
  height: calc( 100% / 3);
  padding: 10px;
}

body.main-about main .main-right .main-box:first-child {
  width: 54%;
}

body.main-about main .main-right .main-box:first-child h3 {
  font-size: 3.5rem;
  font-weight: 900;
  display: inline-block;
}

body.main-about main .main-right .main-box:first-child .secdond-title {
  font-size: 2rem;
}

body.main-about main .main-right .main-box:first-child p {
  display: inline-block;
  font-size: 35px;
  margin-left: 20px;
}

body.main-about main .main-right .main-box:nth-of-type(2) {
  width: 44%;
}

body.main-about main .main-right .main-box .tltle {
  display: block;
  width: 100%;
  font-size: 30px;
  text-transform: capitalize;
}

body.main-about main .main-right .main-box .progress {
  position: relative;
  background: #fff;
}

body.main-about main .main-right .main-box .progress .progress-bar {
  background: #888;
}
/*# sourceMappingURL=src-profolio.css.map */