.page-web {
  height: 100vh;
  overflow: hidden;
  background: #111;
}
.page-web header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-web .icon i {
  color: #fff;
  font-size: 20px;
}
.page-web .wrapper {
  padding-top: 60px;
}
.page-web .wrapper nav {
  padding: 0 40px;
}
.page-web .wrapper nav ul {
  border-radius: 100px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 3px;
}
.page-web .wrapper nav ul li {
  width: 33.3333333333%;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
}
.page-web .wrapper nav ul li a {
  color: #222;
  text-decoration: none;
}
.page-web .wrapper nav ul li.active {
  background: #111;
}
.page-web .wrapper nav ul li.active a {
  color: #fff;
}
.page-web .wrapper nav ul li:hover {
  background: rgba(17, 17, 17, 0.1);
}
.page-web main {
  height: calc(100vh - 60px);
  background: #fff;
  overflow-y: scroll;
  border-radius: 20px 20px 0 0;
  padding: 5px 10px;
}
.page-web main > a {
  color: #999;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  line-height: 30px;
  margin: 5px 0;
  font-size: 14px;
}
.page-web main > a::before {
  content: "";
  position: relative;
  display: inline-block;
  border: 1px solid #999;
  border-radius: 100px;
  width: 12px;
  height: 12px;
}
.page-web main > a:hover::after {
  content: "";
  position: absolute;
  color: #222;
  font-size: 12px;
}
.page-web main a.btn-primary {
  width: 100%;
  background: #111;
  border-radius: 15px;
  border: none;
  outline: none;
}
.page-web main a.btn-primary button {
  line-height: 60px;
  background: transparent;
  color: #fff;
  font-size: 18px;
}
.page-web main a.btn-primary.search::before {
  display: none;
}
.page-web .input-box {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #dddddd;
  padding: 5px 10px;
}
.page-web .input-box > a.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-web .input-box > a.icon i {
  color: #111;
}
.page-web .input-box.box-m {
  gap: 2%;
  justify-content: space-between;
}
.page-web .input-box.box-m .input {
  width: 48%;
}
.page-web .input-box.input-flex .input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-web .input-box.input-flex .input span.s-title {
  display: inline-block;
}
.page-web .input-box .input {
  width: 100%;
}
.page-web .input-box .input .s-title {
  text-transform: capitalize;
  color: #999;
  font-size: 14px;
  line-height: 20px;
  display: block;
}
.page-web .input-box .input .txt {
  font-size: 17px;
  font-weight: 400;
  line-height: 40px;
  padding: 2px 0;
}
.page-web .input-box .input .passenger-content {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 50px;
}
.page-web .input-box .input .passenger-content .person {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-web .input-box .input .passenger-content .person .icon i {
  color: #999;
  font-size: 18px;
}
.page-web .input-box .input .passenger-content .person .number {
  font-weight: 700;
  font-size: 20px;
  margin-left: 5px;
}
.page-web .input-box .input.box-R {
  text-align: right;
}
.page-web .input-box.class .txt {
  font-size: 20px;
  font-weight: 600;
}
.page-web footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -1px 5px #dddddd;
}
.page-web footer ul {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.page-web footer ul li {
  padding: 5px 10px;
  text-align: center;
}
.page-web footer ul li a.icon {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.page-web footer ul li a.icon i {
  font-size: 22px;
  color: #111;
}
.page-web footer ul li:hover a.icon {
  background: #111;
}
.page-web footer ul li:hover a.icon i {
  color: #fff;
}

.select-date-header .locate {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  width: 100%;
}
.select-date-header .locate a.icon {
  position: relative;
  width: 30%;
  text-align: center;
}
.select-date-header .locate a.icon i {
  line-height: 30px;
}
.select-date-header .locate a.icon i.fa-chevron-right {
  position: absolute;
  right: 0;
  font-size: 12px;
}
.select-date-header .locate a.icon::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  border: 0.5px dashed #fff;
}
.select-date-header ul.date {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 10px;
}
.select-date-header ul.date li {
  border-radius: 5px;
  min-width: 28%;
  color: #dddddd;
  background: rgba(221, 221, 221, 0.1);
  text-align: center;
  gap: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
.select-date-header ul.date li .s-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  display: inline-block;
  margin: 5px 8px;
}
.select-date-header ul.date li .weekWrap {
  display: inline-block;
}
.select-date-header ul.date li .prise {
  line-height: 30px;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
}
.select-date-header ul.date li .prise .currency {
  font-size: 12px;
}
